/* src\components\ListaDeUsuarios\styles.css */

.lista-usuarios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 390px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.lista-usuarios li {
  width: 220px;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e2e2e2e5;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-right: 5px;
}
  
.lista-usuarios li strong {
  font-weight: bold;
}

.lista-usuarios{
  height: 450px;
  overflow-y: auto;
}